@model Demo03.Models.Trainer

<fieldset>
    <legend>Trainer</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TrainerName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TrainerName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Technology)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Technology)
    </div>
</fieldset>
